---
import { getCollection, getEntry } from "astro:content";

const { slug } = Astro.params;

console.log("slug", slug);
export async function getStaticPaths() {
  const pages = await getCollection("slides");
  console.log("pages", pages);
  return pages.map((page) => {
    return { params: { slug: page.id } };
  });
}

const lesson = await getEntry("lessons", slug);
const lessonText = lesson?.body;
---

<h1>{lesson?.data.title}</h1>
{JSON.stringify(lesson)}
<Fragment set:html={lessonText} />
