---
import { getCollection, getEntry, render } from "astro:content";
import SlidesButton from "../../../components/SlidesButton.astro";

const { slug } = Astro.params;

console.log("slug", slug);
export async function getStaticPaths() {
  const pages = await getCollection("lessons");
  console.log("pages", pages);
  return pages.map((page) => {
    return { params: { slug: page.id } };
  });
}

const lesson = await getEntry("lessons", slug);
if (!lesson) {
  throw new Error(`Lesson with slug "${slug}" not found.`);
}
const { Content, headings } = await render(lesson);
---

<h1>{lesson?.data.title}</h1>
<SlidesButton classId={slug} />
<Content />
