---
import { getCollection, getEntry, render } from "astro:content";
import SlidesButton from "../../../components/SlidesButton.astro";

const { classID } = Astro.params;

console.log("classID", classID);
export async function getStaticPaths() {
  const pages = await getCollection("lessons");
  console.log("pages", pages);
  return pages.map((page) => {
    return { params: { classID: page.id } };
  });
}

const lesson = await getEntry("lessons", classID);
if (!lesson) {
  throw new Error(`Lesson with classID "${classID}" not found.`);
}
const { Content, headings } = await render(lesson);
---

<h1>{lesson?.data.title}</h1>
<SlidesButton classId={classID} />
<Content />
