---
import { getCollection, getEntry, render } from "astro:content";
import SlidesButton from "../../../components/SlidesButton.astro";
import Layout from "../../../layouts/Layout.astro";
import Assignment from "../../../components/Assignment.astro";
const { classID } = Astro.params;

console.log("classID", classID);
export async function getStaticPaths() {
  const pages = await getCollection("lessons");
  console.log("pages", pages);
  return pages.map((page) => {
    return { params: { classID: page.id } };
  });
}

const lesson = await getEntry("lessons", classID);
if (!lesson) {
  throw new Error(`Lesson with classID "${classID}" not found.`);
}

const assignments = await getCollection("assignments", (assignment) => {
  return assignment.id.split("_")[0] == classID;
});

const { Content, headings } = await render(lesson);
---

<Layout>
  <h1>{lesson?.data.title}</h1>
  <nav class="page-nav">
    <SlidesButton classId={classID} />
    <a class="btn" href="#lesson">Lesson</a>
    <a class="btn" href="#homework">Homework</a>
  </nav>
  <Content id="lesson" />
  <h2 id="homework">Homework</h2>
  <div class="assignments-list">
    {assignments.map((assignment) => <Assignment assignment={assignment} />)}
  </div>
</Layout>

<style>
  .assignments-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  .page-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem 0;
  }
</style>
