---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Homework</h1>
  <p>
    This is the homework page. This page shows all the homework that has been
    assigned for the whole semester, with the latest due dates at top.
  </p>
</Layout>
