---
import Assignment from "../components/Assignment.astro";
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
const lessons = await getCollection("lessons");

const assignments = await getCollection("assignments", (assignment) => {
  console.log(assignment);
  const dueDate = new Date(assignment.data.due);
  const now = new Date();
  return dueDate > now;
});
---

<Layout>
  <h1>Welcome to Design for the Web 2</h1>
  <p>
    We'll be using this site to organize the lessons and homework for this
    course.
  </p>
  <p>
    Curious how this site is built? Check it out on <a
      href="https://github.com/klalicki/dweb2">GitHub.</a
    >
  </p>
  <h2>Homework</h2>
  <p>
    Here are all assignments with duedates in the future (as of {
      new Date().toLocaleDateString()
    } at {new Date().toLocaleTimeString()})
  </p>
  <a href="/homework">See all homework assignments</a>
  {
    assignments.map((assignment) => {
      return <Assignment assignment={assignment} />;
    })
  }
</Layout>
