---
import { getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { render } from "astro:content";

const { slug } = Astro.params;

console.log("slug", slug);
export async function getStaticPaths() {
  const pages = await getCollection("resources");
  return pages.map((page) => {
    return { params: { slug: page.id } };
  });
}

const resource = await getEntry("resources", slug);
if (!resource) {
  throw new Error(`Resource not found for slug: ${slug}`);
}
const { Content } = await render(resource);
---

<Layout title={resource?.data.title || "Article"}>
  <h1>{resource?.data.title}</h1>
  <Content />
</Layout>
