---

---

<div class="banner">
  <p>Take the midterm survey!</p><a
    href="https://forms.cloud.microsoft/r/wp3jVwHWgz"
    ">Link to Survey</a
  >
</div>

<style>
  div.banner {
    background-color: var(--color-primary);
    color: var(--color-bg);
    text-align: center;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }
  a {
    color: var(--color-bg);
    font-weight: 600;
    position: relative;
    z-index: 1;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    border: 2px solid var(--color-bg);
    text-decoration: none;
    transition: all 0.25s;
  }
  a:hover {
    background-color: var(--color-bg);
    color: var(--color-primary);
  }
</style>
