---

---

<a class="btn-float" href={Astro.props.href}>
  <slot />
</a>
<!-- TODO: style this -->
<style>
  .btn-float {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
    background-color: var(--color-bg);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
  }
  .btn-float:hover,
  .btn-float:focus {
    background-color: var(--color-primary);
    color: var(--color-bg);
  }
</style>
