---
import { getCollection } from "astro:content";

const lessons = await getCollection("lessons");
const projects = await getCollection("projects");
---

<nav>
  <h2>Classes</h2>
  {
    lessons.map((classItem) => (
      <a href={`/classes/${classItem.id}/lesson`}>{classItem.data.title}</a>
    ))
  }
  <h2>Projects</h2>
  {
    projects.map((projectItem) => (
      <a href={`/projects/${projectItem.id}`}>{projectItem.data.title}</a>
    ))
  }
  <h2>Resources</h2>
</nav>

<style>
  nav {
    display: flex;
    flex-direction: column;
  }
  a {
    padding: 0.5rem 0;
  }
</style>
