---
import { getEntry } from "astro:content";
const { classId } = Astro.props;

const slide = await getEntry("slides", classId);
---

{
  slide && (
    <a href={`/classes/${classId}/slides`} class="btn">
      View Slides
    </a>
  )
}
