---
import { Code } from "astro/components";
import { getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const { slug } = Astro.params;

console.log("slug", slug);
export async function getStaticPaths() {
  const pages = await getCollection("projects");
  return pages.map((page) => {
    return { params: { slug: page.id } };
  });
}

const project = await getEntry("projects", slug);
const projectText = project?.body;

---
<Layout>
<h1>{project?.data.title}</h1>
<Code code={JSON.stringify(project, null, 2)} lang="json" />
<Fragment set:html={projectText} />
</Layout>