---
import { Code } from "astro/components";
import { getCollection, getEntry, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Assignment from "../../components/Assignment.astro";

const { slug } = Astro.params;

console.log("slug", slug);
export async function getStaticPaths() {
  const pages = await getCollection("projects");
  return pages.map((page) => {
    return { params: { slug: page.id } };
  });
}

const project = await getEntry("projects", slug);
const projectText = project?.body;
console.log(slug);
const assignments = await getCollection("assignments");
const sortedAssignments = assignments
  .filter((assignment) => {
    const projectId = assignment?.data?.project?.id || "";
    console.log(projectId, slug);
    return projectId === slug;
  })
  .sort((a, b) => {
    return b.data.due.valueOf() - a.data.due.valueOf();
  });

const { Content } = await render(project);
---

<Layout title={project?.data.title || "Project"}>
  <h1>{project?.data.title}</h1>
  <!-- <Code code={JSON.stringify(sortedAssignments, null, 2)} lang="json" /> -->
  <Content />
  <h2>Project Assignments</h2>
  <div class="assignments-group">
    {
      sortedAssignments.map((assignment) => (
        <Assignment assignment={assignment} />
      ))
    }
  </div>
</Layout>
