---
import { Code } from "astro/components";
import { getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const { slug } = Astro.params;

console.log("slug", slug);
export async function getStaticPaths() {
  const pages = await getCollection("projects");
  return pages.map((page) => {
    return { params: { slug: page.id } };
  });
}

const project = await getEntry("projects", slug);
const projectText = project?.body;

const assignments = await getCollection("assignments");
const sortedAssignments = assignments
  .filter((assignment) => assignment.data.project === slug)
  .sort((a, b) => {
    return b.data.due.valueOf() - a.data.due.valueOf();
  });
---

<Layout>
  <h1>{project?.data.title}</h1>
  <!-- <Code code={JSON.stringify(sortedAssignments, null, 2)} lang="json" /> -->
  <Fragment set:html={projectText} />
  <h2>Project Assignments</h2>
  <ul>
    <!-- TODO place the full text of each assignment here, with a link back to the class it originally came from -->
  </ul>
</Layout>
