---
import SideNav from "../components/SideNav.astro";
import Theme from "../components/Theme.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Class Site</title>
    <Theme />
  </head>

  <body>
    <SideNav />
    <slot />
  </body>
</html>
