---
import Container from "../components/Container.astro";
import SideNav from "../components/SideNav.astro";
import SkipLink from "../components/SkipLink.astro";
import Theme from "../components/Theme.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Class Site</title>
    <Theme />
  </head>

  <body>
    <SkipLink />
    <header>
      <SideNav />
    </header>

    <main>
      <Container>
        <slot />
      </Container>
    </main>
  </body>
</html>

<style>
  main {
  }
  @media screen and (min-width: 768px) {
    main {
      padding-left: var(--size-sidenav-width);
    }
  }
</style>
