---
import { getCollection } from "astro:content";

const { slug } = Astro.params;
export async function getStaticPaths() {
  const slides = await getCollection("slides");
  return slides.map((slide) => {
    return { params: { slug: slide.id.split("/")[0] } };
  });
}

const pageData = await getCollection("slides");
const globbedFiles = import.meta.glob(`/src/content/classes/*/slides.md`, {
  eager: true,
  query: "?raw",
})[`/src/content/classes/${slug}/slides.md`];

const content = globbedFiles.default;
// console.log(content);

const targetData = pageData.find((slide) => {
  // console.log(slide);
  return slide.id.split("/")[0] == slug;
});

const mdData = targetData?.body;
---

<!-- {JSON.stringify(marpKeys)} -->
<section data-markdown>
  <textarea data-template set:html={content} />
</section>
